#
# Configurations for Boot Loader
#

##############################################################
#
## I   SOC architechture & boot configurations
#
##############################################################
# ARCH: ARM/CSKY
CONFIG_ARCH = CSKY

# chip series: gx3113/gx3200/gx3201
CHIP_CORE = gx3201

# Board type
CHIP_BOARD = 3231

# CONFIG DEMOD: dvbs/dvbs2/dvbc/dvbt/dvbt2/dtmb/null
CONFIG_DEMOD = null

# DDR_CONFIG: DDR3 FRE (533000000/500000000), DDR2 FRE (400000000)
DDR_TYPE = DDR3
DDR_FREQUENCY = 500000000

# USB EYE DIAGRAM TEST
USB_EYE_DIAGRAM_TEST = n

# enable boot from usb storage
# Rely : ENABLE_USB
ENABLE_BOOT_FROM_USB = n

# cmdline config, if CMDLINE_VALUE = "" will not ENABLE_CMDLINE
CMDLINE_VALUE = "mem=68M videomem=60M mem_end console=ttyS0,115200 init=/init"
#CMDLINE_VALUE = "mem=68M videomem=60M mem_end console=ttyS0,115200 init=/init root=/dev/nfs rw nfsroot=192.168.101.200:/opt/nfs,v3 ip=192.168.101.3"
#CMDLINE_VALUE = "mem=163M videomem=93M mem_end console=ttyS0,115200 init=/init root=/dev/nfs rw nfsroot=192.168.101.200:/opt/nfs,v3 ip=192.168.101.3"

# if you set <=0, you'll enter prompt directly
CONFIG_BOOTDELAY = 3

#############################################################
#
##II boot kernel type & decompress support
#
#############################################################
ENABLE_UIMAGE = y

ENABLE_ROOTFS_YAFFS2 = n
ENABLE_ROOTFS_ROMFS = y
ENABLE_ROOTFS_CRAMFS = y
ENABLE_MINIFS = n

ENABLE_DECOMPRESS_GZIP = y
ENABLE_DECOMPRESS_LZMA = y
ENABLE_DECOMPRESS_LZO = n
ENABLE_DECOMPRESS_ZLIB = y
ENABLE_COMPRESS_ZLIB = n

#############################################################
#
##III Module & function configurations
#
#############################################################
ENABLE_SPIFLASH = y
ENABLE_SPINAND = n
ENABLE_NANDFLASH = n
ENABLE_IRQ = y
ENABLE_UART_IRQ = y
ENABLE_USB = y
ENABLE_FAT_WRITE = n
# usb work mode : compatible/speed
USB_WORKMODE = compatible
ENABLE_NET = y
ENABLE_I2C = y
ENABLE_GPIO= y
ENABLE_IRR = y
ENABLE_CTR = y
ENABLE_CHIP_INFO = y
ENABLE_WDT = y
ENABLE_TIME = y
ENABLE_JTAG_PASSWD = n

# eeprom config
ENABLE_EEPROM = y
EEPROM_I2C_BUS_NUM = 0
EEPROM_DEVICE_ADDR = 0x50
EEPROM_TYPE = "24c128"

# use io framework for read write ioct .. ops
ENABLE_IO_FRAMEWORK = y

# if you want to use flash write/erase, you must enable it
ENABLE_FLASH_FULLFUNCTION = y

# ENABLE SHOW LOGO. gx3201 only support show jpeg logo.
ENABLE_LOGO = n
# VOUT MODE ENABLE CONFIG
ENABLE_PAL = y
ENABLE_PAL_M = n
ENABLE_PAL_N = n
ENABLE_PAL_NC = n
ENABLE_NTSC_M = n
ENABLE_NTSC_443 = n
ENABLE_YPBPR_HDMI_480I = n
ENABLE_YPBPR_HDMI_480P = n
ENABLE_YPBPR_HDMI_576I = y
ENABLE_YPBPR_HDMI_576P = y
ENABLE_YPBPR_HDMI_720P_50HZ = y
ENABLE_YPBPR_HDMI_720P_60HZ = y
ENABLE_YPBPR_HDMI_1080I_50HZ = y
ENABLE_YPBPR_HDMI_1080I_60HZ = y
ENABLE_YPBPR_HDMI_1080P_50HZ = y
ENABLE_YPBPR_HDMI_1080P_60HZ = y

# ENABLE GDI. when one of LOGO/GDI is enabled, will enable vout too.
ENABLE_GDI = n
CONFIG_GDI_BPP = 16

# if you generate the bin for linux boot tool, please enable it
ENABLE_BOOT_TOOL = n

# generate gxloader with ota: set ENABLE_LIB n & ENABLE_OTA y
# generate OTA LIB: set ENABLE_LIB y & ENABLE_OTA n
ENABLE_LIB = y
ENABLE_OTA_FORCE_DRAM_ADDR = y
ENABLE_OTA = n
ENABLE_CHIPTEST = n

# UART 0/1/2/3
CONFIG_UART_PORT = 0
CONFIG_UART_BAUDRATE = 115200

#################################################################
#
##IV other option
#
#################################################################
# GDB DEBUG CONFIG
ENABLE_GDB_DEBUG = n

# CREATE DENALI ELF
ENABLE_DENALI_ELF = n

# module test switch
ENABLE_FLASH_TEST = n

# MEMORY function for memory test
ENABLE_MEMORY = n


# SECURE BOOT VERIFY : RSA_PKCS
SECURE_VERIFY_TYPE =

#if not define or set y, will enable release check
ENABLE_RELEASE_CHECK = n

# if you want to use ctr callback fun, you must enable it
ENABLE_CTR_CALLBACK = n

# if you want to use loader cmd fun, you must enable it
ENABLE_CMD = n

# DEMUX_ES(1 << 0)，DEMUX_TSW(1 << 1)，DEMUX_TSR(1 << 2)，GP_ES(1 << 3)，AUDIO_FIRMWARE(1 << 4)，AUDIO_FRAME(1 << 5)，VIDEO_FIRMWARE(1 << 6)，VIDEO_FRAME(1 << 7)，VPU_CAP(1 << 8)，SCPU(1 << 9)
# if protect type is DEMUX_TSW/GP_ES，set MEMORY_PROTECT_TYPE= ((1 << 1) | (1 << 3))
MEMORY_PROTECT_TYPE =

SECURE_FIRMWARE_LOAD = n

ENABLE_SECURE_ALIGN = n
