.tags
tags
cscope.*
*.o
*.a
a.out
*.swp
.built-in.o.cmd
.*.ko.cmd
.*.mod.o.cmd
.*.o.cmd
.tmp_versions/
Module.symvers
*.ko
*.mod.c
*.dll
modules.order
.tags_sorted_by_file
output/
avcore/include/config.h
firmware/src/
_build-csky-linux/
_build-csky-ecos/
*.elf
*.img
*.bin
deps
