CONFIG_DEMOD_GX1121D=y
CONFIG_DEMOD_GX3211=y
CONFIG_DEMOD_GX1001=y
CONFIG_DEMOD_GX1503B_DVBC=y
CONFIG_DEMOD_GX1503B_DTMB=y
CONFIG_DEMOD_GX3211_DVBC=y
CONFIG_DEMOD_ATBM888X_DVBC=y
CONFIG_DEMOD_ATBM888X_DTMB=y
CONFIG_DEMOD_ATBM783X_DVBC=y
CONFIG_DEMOD_ATBM783X_DVBS=y
CONFIG_DEMOD_ATBM78X_DVBT=y
CONFIG_DEMOD_ATBM78X_DVBC=y
CONFIG_DEMOD_ATBM78X_REPEAT_DVBT=y
CONFIG_DEMOD_ATBM78X_REPEAT_DVBC=y
CONFIG_DEMOD_GX1133=y
CONFIG_DEMOD_Sirius_DVBS=y
CONFIG_DEMOD_Sirius_DVBC=y
CONFIG_DEMOD_Sirius_J83B=y
CONFIG_DEMOD_Taurus_DVBS=y
CONFIG_DEMOD_Taurus_DVBC=y
CONFIG_DEMOD_Taurus_J83B=y
CONFIG_DEMOD_Gemini_DVBT=y
CONFIG_DEMOD_Gemini_DVBC=y
CONFIG_DEMOD_Cygnus_DVBT=y
CONFIG_DEMOD_Cygnus_DVBC=y
CONFIG_DEMOD_MXL683=y
CONFIG_DEMOD_GX1135_DVBS=y
CONFIG_DEMOD_Canopus_DVBS=y
CONFIG_DEMOD_Canopus_DVBC=y
CONFIG_DEMOD_Canopus_J83B=y
CONFIG_DEMOD_Canopus_DVBC1=y
CONFIG_DEMOD_Cygnus_FM=y
CONFIG_DEMOD_CXD2856_DVBT=y
CONFIG_DEMOD_CXD2856_DVBC=y
CONFIG_DEMOD_CXD2856_REPEAT_DVBT=y
CONFIG_DEMOD_CXD2856_REPEAT_DVBC=y
CONFIG_DEMOD_SI2183_DVBT=y
CONFIG_DEMOD_SI2183_DVBC=y
CONFIG_DEMOD_Vega_DVBS=y
CONFIG_DEMOD_Vega_DVBC=y
CONFIG_DEMOD_Vega_J83B=y
CONFIG_DEMOD_Vega_DVBC1=y
CONFIG_DEMOD_Scorpio_DVBC=y
CONFIG_TUNER_AV2018=y
CONFIG_TUNER_AV2020=y
CONFIG_TUNER_MXL608_DVBT=y
CONFIG_TUNER_MXL608_DTMB=y
CONFIG_TUNER_MXL608_DVBC=y
CONFIG_TUNER_TDA18250=y
CONFIG_TUNER_TDA18250A=y
CONFIG_TUNER_TDA18273_DTMB=y
CONFIG_TUNER_TDA18273_DVBC=y
CONFIG_TUNER_R850_R836_DTMB=y
CONFIG_TUNER_R850_R836_DVBC=y
CONFIG_TUNER_R850_R836_DVBT=y
CONFIG_TUNER_R910_DTMB=y
CONFIG_TUNER_R910_DVBC=y
CONFIG_TUNER_SI2141_DTMB=y
CONFIG_TUNER_SI2141_DVBC=y
CONFIG_TUNER_SI2141_DVBT=y
CONFIG_TUNER_R848_DVBS=y
CONFIG_TUNER_R848_DVBC=y
CONFIG_TUNER_R848_DVBT=y
CONFIG_TUNER_R848_DTMB=y
CONFIG_TUNER_RDA5815M=y
CONFIG_TUNER_ATBM2040=y
CONFIG_TUNER_ATBM2030=y
CONFIG_TUNER_SHARP7306=y
CONFIG_TUNER_ATBM253_DTMB=y
CONFIG_TUNER_ATBM253_DVBT=y
CONFIG_TUNER_ATBM253_DVBC=y
CONFIG_TUNER_RDA5880U_DTMB=y
CONFIG_TUNER_RDA5880U_DVBT=y
CONFIG_TUNER_RDA5880U_DVBC=y
CONFIG_TUNER_ATBM2040_DTMB=y
CONFIG_TUNER_ATBM2040_DVBT=y
CONFIG_TUNER_ATBM2040_DVBC=y
CONFIG_TUNER_TS6011=y
CONFIG_TUNER_M3031=y
CONFIG_TUNER_RDA5160_DTMB=y
CONFIG_TUNER_RDA5160_DVBC=y
CONFIG_TUNER_RDA5160_DVBT=y
CONFIG_TUNER_RT720=y
CONFIG_TUNER_MTV600=y
CONFIG_TUNER_A3500=y
CONFIG_TUNER_R858_DVBC_1ST=y
CONFIG_TUNER_R858_DVBC_2ND=y
